spring:
  datasource:
    url: jdbc:mysql://localhost:3308/second_hand
    username: user
    password: admin

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        show_sql: true
        format_sql: true

cloud:
  aws:
    credentials:
      access-key: ${aws.access-key}
      secret-key: ${aws.secret-key}
    s3:
      bucket: ${aws.s3.bucket}
    region:
      static: ${aws.region}
    stack:
      auto: false

