spring:
  profiles:
    active:
      - prod
    include:
      - oauth
      - secret
custom:
  default-profile:
    https://e7.pngegg.com/pngimages/1000/665/png-clipart-computer-icons-profile-s-free-angle-sphere.png
